html {
    /* Disable the ugly text selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

:root {
    --background: #1e1e1e;
    --footer: #191919;

    --text-main: #e2e8f0;
    --text-footer: #c6c6c6;
}

.main::after {
    content: "";
    background: url("../img/bg.png");
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
body {
    background-color: var(--background);
    background-size: cover;
    line-height: 1.15;
    font-family: Poppins, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: var(--text-main);
}

.hero {
    height: 95vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.hero-greeting h1 {
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #ff5a35;
    text-shadow: 0 2px 2px rgba(254, 0, 0, 0.3);
}

.hero-greeting h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

.hero-greeting h3 {
    font-size: 1rem;
}

.card-info {
    display: flex;
    margin-top: 5%;
    padding: 2.5%;
}

.card-tagline {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffac99;
}

.card-description {
    margin-top: 1%;
}

.card {
    margin: 2% auto auto auto;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: #2c2c2c;
    border: 1px solid #363636;
    box-shadow: 0 4px 18px rgba(0,0,0,.25);
    border-radius: 6px;
}

.footer {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer);
    color: var(--text-footer);
}
.call-to-action {
    margin-top: 2%;
    font-weight: 600;
}

.socials {
    display: flex;
    flex-direction: row;
    font-size: 4rem;
    width: 100%;
    justify-content: center;
}

.socials a {
    margin-right: 2%;
    user-select: none;
    -webkit-user-drag: none;
}

.social-twitter {
    color: #1da1f2;
}

.social-instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.social-youtube {
    color: #ff0000;
}

.social-spotify {
    color: #1ed760;
    margin-right: 0;
}

.footer .contact-us {
    color: white;
    font-weight: 600;
}
.call-to-action a {
    color: white;
    text-decoration: none;
}